.output {
    color:beige;
    background-color: darkslateblue;
    width: 50rem;
    height: 30rem;
    overflow: auto;
}
.info {
    color:greenyellow;
}
.error {
    color:lightsalmon;
}
.path {
    width: 30rem;
}